table{
    border-collapse: collapse;
}

table td, table th{
    height: 50px;
    padding: 0px 15px ;
}

table tr{
    border: 1px solid #DDD;
}

table tr:nth-child(even){
    background-color: #fAfAfA;
}
table tr:hover{
    background-color: #f2f2f2;
}

.modelo-sol{
    width: 100%;
}
.modelo-sol th{
    background-color: #7952b3;
    color: #FFF;
}
