{% extends 'layout.html' %}

{% block title %}

{% endblock %}

{% block header %}
<script type="text/javascript" src="{{ url_for('static', filename=" js/index.js")}}"></script>
{% endblock %}

{% block body %}
<div class="container" style="height: calc( 100vh - 56px )">
    <div class="row d-flex justify-content-center align-items-center" style="height: 100%">
        <div class="col-6">
            <h1 class="mb-4">Build fast, responsive sites with Bootstrap</h1>
            <p>Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular
                front-end
                open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt
                components, and powerful JavaScript plugins.</p>
        </div>
        <div class="col-6 p-5">
            <h3 class="mb-4">Ingrese los siguientes datos</h3>
            <form action="{{ url_for('data')}}" method="POST">
                <div class="form-group mb-4">
                    <label for="variable">Ingrese el numero de variables</label>
                    <input type="number" name="numVariables" id="variable" class="form-control" value="2"
                        readonly="readonly">
                </div>
                <div class="form-group mb-4">
                    <label for="ecuaciones"> Ingrese la cantidad de restricciones</label>
                    <input id="ecuaciones" name="numRestricciones" class="form-control" type="number">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary w-100" id="btnSent" disabled>
                        Enviar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}