{% extends 'layout.html' %}

{% block title %}

{% endblock %}

{% block header %}
<script type="text/javascript" src="{{ url_for('static', filename='js/index.js')}}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
{% endblock %}

{% block body %}
<div class="container-bg">

</div>
<div class="container" style="height: 100vh">
    <div class="row d-flex justify-content-center align-items-center" style="height: 100%">
        <div class="col-12 p-5 ">
            <div class="main-container">
                <div class="main main-info">
                    <h1 class="main-info-title">Optimización de operaciones</h1>
                    <p class="main-info-p">Este proyecto tiene como objetivo ayudar a las pequeñas y medianas empresas a optimizar sus operaciones solventando los modelos matemáticos introducidos.</p>
                </div>
                <div class="main main-form">
                    <h3 class="main-form-title">Ingrese los siguientes datos</h3>
                    <div class="main-form-form">
                        <form action="{{ url_for('data')}}" method="POST">
                            <div class="form-group mb-4">
                                <label for="variable" class="main-labels">Ingrese el numero de variables</label>
                                <input type="number" placeholder="Variables" name="numVariables" id="variable" class="form-control" value="2" readonly>
                            </div>
                            <div class="form-group mb-4">
                                <label for="ecuaciones" class="main-labels"> Ingrese la cantidad de restricciones</label>
                                <input id="ecuaciones" placeholder="Restricciones" name="numRestricciones" class="form-control" type="number">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary w-100" id="btnSent" disabled>
                                    Enviar
                                </button>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}