{% extends 'layout.html'%}

{% block title %}
Método gráfico
{% endblock %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/modelo.css')}}">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<script type="text/javascript" src="{{ url_for('static', filename='js/modelo.js')}}"></script>
{% endblock %}

{% block body %}
<div class="bg-top">
    <h1 class="mb-5 page-title">Método gráfico</h1>
</div>
<div class="container-info">
    <div class="btn-left btn-styles">
        <i class="fas fa-arrow-left"></i>
    </div>
    <div class="btn-right btn-styles">
        <i class="fas fa-arrow-right"></i>
    </div>
    <div class="slider">
        <div class="info-page">
            <h3 class="form-title">Modelo</h3>
            <table class="modelo-table">
                <tbody>
                    <tr>
                        <th>Función objetivo (Maximizar)</th>
                        <td>Z= 50 X<sub>1</sub> + 40 X<sub>2</sub></td>
                    </tr>
                    <tr>
                        <th>Restriccion No. 1</th>
                        <td>1 X<sub>1</sub> + 1.5 X<sub>2</sub> &le; 750</td>
                    </tr>
                    <tr>
                        <th>Restriccion No. 2</th>
                        <td>1 X<sub>1</sub> + 1.5 X<sub>2</sub> &le; 1000</td>
                    </tr>
                    <tr>
                        <th>No negatividad</th>
                        <td> X<sub>1</sub>, X<sub>2</sub> &ge; 0</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="info-page selected">
            <h3 class="form-title">Gráfica</h3>
            <img src="{{url_for('static', filename='img/grafica.png')}}">
        </div>
        <div class="info-page">
            <h3>Tabla</h3>
            <table class="modelo-sol">
                <thead>
                    <tr>
                        <th>Punto</th>
                        <th>Coordenada X</th>
                        <th>Coordenada Y</th>
                        <th>Valor de la función objetivo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>O</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>A</td>
                        <td>0</td>
                        <td>500</td>
                        <td>20000</td>
                    </tr>
                    <tr>
                        <td>B</td>
                        <td>750</td>
                        <td>0</td>
                        <td>37500</td>
                    </tr>
                    <tr>
                        <td>C</td>
                        <td>375</td>
                        <td>250</td>
                        <td>28750</td>
                    </tr>
                    <tr>
                        <td>D</td>
                        <td>0</td>
                        <td>1000</td>
                        <td>40000</td>
                    </tr>
                    <tr>
                        <td>E</td>
                        <td>500</td>
                        <td>0</td>
                        <td>25000</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}