{% extends 'layout.html'%}

{% block title %}
Método gráfico
{% endblock %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/modelo.css')}}">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<script type="text/javascript" src="{{ url_for('static', filename='js/modelo.js')}}"></script>
{% endblock %}

{% block body %}
<div class="bg-top">
    <h1 class="mb-5 page-title">Método gráfico</h1>
</div>
<div class="container-info">
    <div class="btn-left btn-styles">
        <i class="fas fa-arrow-left"></i>
    </div>
    <div class="btn-right btn-styles">
        <i class="fas fa-arrow-right"></i>
    </div>
    <div class="slider">
        <div class="info-page">
            <h3 class="form-title">Modelo</h3>
            <table class="modelo-table">
                <tbody>
                    <tr>
                        <th>Función objetivo (Maximizar)</th>
                        <td>{{ fo.__html__() | safe }}</td>
                    </tr>

                    {% for res in restricciones %}

                        <tr>
                            <th>Restriccion No. {{ loop.index }}</th>
                            <td>{{ res.__html__() | safe }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <th>No negatividad</th>
                        <td> X<sub>1</sub>, X<sub>2</sub> &ge; 0</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="info-page selected">
            <h3 class="form-title">Gráfica</h3>
            <img src="{{url_for('static', filename='img/grafica.png')}}">
        </div>
        <div class="info-page">
            <h3>Tabla</h3>
            <table class="modelo-sol">
                <thead>
                    <tr>
                        <th>Punto</th>
                        <th>Coordenada X</th>
                        <th>Coordenada Y</th>
                        <th>Valor de la función objetivo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in data_table['puntos'] %}
                        {% if data['Solu'] %}

                            <tr style="background-color: red;">
                                <td>{{ data['Punto']}}</td>
                                <td>{{ data['Coordenada X (X1)'] }}</td>
                                <td>{{ data['Coordenada Y (X2)'] }}</td>
                                <td>{{ data['Valor de la función objetivo (Z)'] }}</td>
                            </tr>

                        {% else %}

                            <tr>
                                <td>{{ data['Punto']}}</td>
                                <td>{{ data['Coordenada X (X1)'] }}</td>
                                <td>{{ data['Coordenada Y (X2)'] }}</td>
                                <td>{{ data['Valor de la función objetivo (Z)'] }}</td>
                            </tr>
                        
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}